<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Shopapp</title>
</head>
<body>

    @await Html.PartialAsync("_navbar")          

    <main class="my-3">
        <div class="container">     

            @if(TempData["message"]!=null)
            {

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            @TempData["message"]
                        </div>
                    </div>
                </div>
            }      
             
            @RenderBody()             
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Shop App
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    @RenderSection("Scripts",false)
</body>
</html>