@model Product

<div class="card mb-2">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Year</p>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">Details</a>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="List" asp-action="AddToList" style="display: inline;">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <button type="submit" value="Add to List" class="btn btn-primary btn-sm">Add to List</button>
            </form>
        }
        



    </div>
</div>   